- var env = 'devserver';
- var baseUrl = (env == 'prod') ? '/' : (env == 'devserver') ? '/website/' : '/';
- var assetPath = `${baseUrl}assets/`

//- Custom Configuration
block config
  - var isHome = false
  - var siteNav = 1
  - var pageTitle = ' [sitename] '
  - var ogDescription =  ' [desc] '
  - var ogImage = `${assetPath}images/og_image.jpg`; // TODO:  This needs absolute path with full URL

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title= (isHome) ? pageTitle : '[sitename] | ' + pageTitle
    meta(name='description', content= (isHome) ? ' [desc] ' : ogDescription)
    meta(property='og:description', content= (isHome) ? ' [desc] ' : ogDescription)
    meta(property='og:image', content= (isHome) ? `${assetPath}images/og_image.jpg` : ogImage)
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="msapplication-tap-highlight" content="no")
    
    //- link(rel='apple-touch-icon' sizes='152x152' href=`${assetPath}images/favicons/apple-touch-icon.png`)
    //- link(rel='icon' type='image/png' sizes='32x32' href=`${assetPath}images/favicons/favicon-32x32.png`)
    //- link(rel='icon' type='image/png' sizes='16x16' href=`${assetPath}images/favicons/favicon-16x16.png`)
    //- link(rel='mask-icon' href=`${assetPath}images/favicons/safari-pinned-tab.svg` color='#5bbad5')
    //- link(rel='shortcut icon' href=`${assetPath}images/favicons/favicon.ico`)
    //- meta(name='msapplication-TileColor' content='#2b5797')
    //- meta(name='msapplication-config' content=`${assetPath}images/favicons/browserconfig.xml`)
    meta(name='theme-color' content='#35353b')
    
    block stylesheets
      link(rel='stylesheet', href=require('Styles/main.scss'))
      link(rel='stylesheet', href=require('Styles/worldMap/worldMap.scss'))


  body(class="page-"+page)
    <!--[if lt IE 9]>
    <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    block navbar

    main
        block content

    block footer

    block scripts
        script(src=require('WebScripts/main.js'))
        script(src=require('GameScripts/game.js'))
